.App {
  text-align: center;
}

.inputsContainer
{
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.inputFields
{
  width: 10%;
  font-size: 1.5vw;
  padding: 4% 1%;
  margin: auto;
}

.addBtnOne
{
  font-size: 3vw;
  border: none;
  border-radius: 4px;
  padding: 1% 0%;
  width: 10%;
  margin: auto;
  cursor: pointer;
  background-color: rgb(9, 130, 196);
  color: white;
}

.addBtnTwo
{
  font-size: 3vw;
  border: none;
  border-radius: 4px;
  padding: 1% 0%;
  width: 10%;
  margin: auto;
  cursor: pointer;
  background-color: rgb(51, 200, 73);
  color: white;
}

.equals
{
  font-size: 5vw;
}

.sumDisplay
{
  font-size: 5vw;
}

.toggleBtn
{
  font-size: 1.7vw;
  border: none;
  background-color: rgb(9, 130, 196);
  color: white;
  width: 20%;
  padding: 1% 0%;
  border-radius: 4px;
  cursor: pointer;
}